.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

th,
td {
  padding: 10px;
  text-align: center;
}
.center {
  text-align: center;
  vertical-align: middle;

}

.radio-container {
  justify-content: center;
  align-items: center;
}
